{
    "extends": ["@beuluis/eslint-config"],
    "root": true,
    "overrides": [
        {
            "extends": ["@beuluis/eslint-config/typescript", "@beuluis/eslint-config/browser", "@beuluis/eslint-config/i18next"],
            "files": "*.{ts,tsx}",
            "parserOptions": {
                "project": "tsconfig.json"
            },
            "rules": {
                "unicorn/prefer-string-replace-all": "off"
            }
        },
        {
            "extends": ["@beuluis/eslint-config/react"],
            "files": "*.tsx",
            "rules": {
                "react/forbid-component-props": "off",
                "react/prop-types": "off"
            }
        },
        {
            "extends": ["@beuluis/eslint-config/node"],
            "files": "*.js"
        },
        {
            "extends": ["@beuluis/eslint-config/json"],
            "files": "*.json"
        },
        {
            "extends": ["@beuluis/eslint-config/yaml"],
            "files": "*.{yaml,yml}"
        }
    ]
}